<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.jl.screen_plugin">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application>
        <!-- 静态注册关开机的广播器 -->
        <receiver android:name="com.jl.screen_plugin.BootBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter >
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.ACTION_SHUTDOWN"/>
            </intent-filter>
        </receiver>

    </application>
</manifest>
